fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib
bcrypt==3.2.2
email-validator
python-multipart
pandas
numpy
google-genai
langchain
langchain-google-genai
pydantic
pydantic-settings
python-dotenv
scikit-learn
